body {
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
}

nav ul li a {
  color: #d92027 !important;
}

nav .navbar-brand img {
  max-height: 65px;
}

nav .btn-order {
  border-radius: 8px;
  background: #d92027;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  color: #ffffff !important;
}

header {
  padding: 195px 0 165px;
  margin-top: -91px;
  background-image: url(../images/header.png);
  background-size: cover;
  height: 100vh;
  color: #D6CFCF;
}

header h1 {
  font-size: 68px;
  font-weight: 700;
}

header h4 {
  font-weight: bolder;
}

header .btn-topping {
  border-radius: 4px;
  background: #fbcc34;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

header .btn-topping:hover {
  background-color: #FFD857;
  -webkit-box-shadow: 0px 9px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 9px 6px rgba(0, 0, 0, 0.16);
}

header .features .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
  margin-top: 35px;
}

header .features .features-image {
  height: 60px;
  float: left;
}

.section-brand {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 506px;
}

.section-brand .product-img {
  width: 80%;
  height: auto;
}

.section-brand .brand-heading h1 {
  font-weight: bolder;
  font-size: 30px;
}

.section-brand .brand-heading h1 .coloring {
  color: #D92027;
}

.section-brand .brand-heading p {
  font-weight: lighter;
  color: #ADB7B5;
}

.section-brand .benefit img {
  height: 75px;
  width: 75px;
  float: left;
}

.section-brand .benefit .sub-title {
  float: left;
  margin-left: 15px;
  margin-top: 7px;
}

.section-brand .benefit .sub-title h3 {
  font-weight: bold;
  font-size: 18px;
}

.section-brand .benefit .sub-title p {
  color: #ADB7B5;
  font-size: 14px;
}

.section-product {
  background-color: #fbcc34;
  padding-top: 50px;
  min-height: 300px;
}

.section-product .product-title h1 {
  font-weight: bolder;
  font-size: 30px;
}

.section-product .product-title h1 .coloring {
  color: #D92027;
}

.section-product .product-title p {
  font-weight: lighter;
  color: #ADB7B5;
}

.section-product-have {
  margin-top: -140px;
  padding-bottom: 50px;
}

.section-product-have .card {
  border: none;
}

.section-product-have .card-footer {
  background-color: #fbcc34;
  height: 50px;
}

.section-product-have .card-footer p {
  font-size: 16px;
}

.section-product-have .card-footer .card-title {
  z-index: 1;
  margin-top: -30px !important;
  height: 40px;
  font-weight: 600;
  width: 90%;
  border-radius: 7px;
  margin: 0 auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.section-product-have .card-footer .card-title a {
  color: #D92027;
  font-weight: 500;
}

.section-testimoni {
  background-color: #FFEEEE;
}

.section-testimoni .testimoni-title {
  background-image: url("../images/bg-testi.png");
  min-height: 350px;
  background-size: cover;
  margin-left: -110px;
}

.section-testimoni .testimoni-title .is-title {
  right: 0;
  margin-left: 280px;
  padding-top: 70px;
}

.section-testimoni .testimoni-title .is-title h1 {
  font-weight: bolder;
  font-size: 30px;
  color: #D92027;
}

.section-testimoni .testimoni-say {
  margin-left: -100px;
  top: 0;
  margin-top: 100px;
}

.section-testimoni .testimoni-say .card {
  border-radius: 10px;
  background: #fff;
  min-height: 170px;
  width: 450px;
}

.section-testimoni .testimoni-say .img-ava {
  width: 45px;
  height: 45px;
  float: left;
}

.section-testimoni .testimoni-say .card-title {
  float: left;
  margin-left: 10px;
  color: #ADB7B5;
}

.section-testimoni .testimoni-say .comment {
  float: left;
}

footer h1 {
  font-weight: bolder;
  font-size: 30px;
  color: #D92027;
}

footer .btn-call {
  width: 300px;
  background-color: #D92027;
  font-size: 24px;
  color: #fff;
  border-radius: 50px;
}

footer .btn-call:hover {
  text-decoration: none;
  color: #fff;
  background-color: #EF0E16;
}

.section-product-information .product-name {
  font-size: 26px;
}

.section-product-information .title-card {
  background-color: #fff;
  font-weight: bold;
  border: none;
}

.section-product-information .detail-img .big-img {
  background-color: red;
  width: 100%;
  height: 500px;
}

.section-product-information .price {
  color: #D92027;
  font-weight: bold;
  font-size: 20px;
}

.section-product-information .btn-cook {
  background-color: #FBCC34;
  height: 50px;
  font-weight: bold;
  line-height: 35px;
}

.section-product-payment .card-payment {
  border-radius: 12px;
}

.section-product-payment .info-order h6 {
  font-size: 16px;
}

.section-product-payment .info-order p {
  font-size: 14px;
  color: #D92027;
}

.section-product-payment .table-order .text-right {
  font-weight: bold;
}

.section-product-payment .price-total h6 {
  color: #D92027;
  font-size: 16px;
  font-weight: bold;
}

.section-product-payment .price-total .btn-change {
  background-color: #E8E3E3;
  width: 100px;
}

.section-product-payment .payment-method .card {
  border-radius: 10px 10px 0 0;
  border-color: #E2DDDD;
}

.section-product-payment .payment-method .title-card {
  background-color: #ffffff;
  border-radius: 10px 10px 0 0;
  font-size: 20px;
}

.section-product-payment .payment-method .price {
  color: #D92027;
  font-weight: bold;
  font-size: 20px;
}

.section-product-payment .payment-method .btn-fix-order {
  background-color: #FBCC34;
  height: 50px;
  font-weight: bold;
  line-height: 35px;
}

.section-product-payment .payment-method .btn-cancel {
  color: #D8D8D8;
}

.section-product-payment .payment-method ul.ui-choose > li {
  color: #6E6868;
  height: 60px;
  line-height: 8px;
  width: 100%;
  text-align: left;
  border-radius: 20px;
  background-color: #FFEFEF;
  padding-top: 10px;
  padding-left: 30px;
}

.section-product-payment .payment-method ul.ui-choose > li h6 {
  font-weight: bold;
}

.section-product-payment .payment-method ul.ui-choose > li p {
  font-size: 14px;
}

.section-product-payment .payment-method ul.ui-choose > li:hover {
  /* z-index: 4; */
  border-color: #D92027;
  color: #D92027;
}

.section-product-payment .payment-method ul.ui-choose > li.selected {
  /* z-index: 3; */
  border-color: #0080ff;
  background-color: #D92027;
  color: #fff;
  font-weight: 500;
}

.section-product-payment .payment-method ul.choose-type-right > li.selected {
  background: transparent url("../images/cek.png") no-repeat right;
  background-color: #D92027;
  padding-right: 40px !important;
  background-position: 95%;
}

.section-track p {
  font-weight: bold;
}

.section-track img {
  width: 100px;
  height: 100px;
}

.section-success {
  height: 90vh;
}

.section-success img {
  width: 200px;
}

.section-success h6 {
  font-size: 22px;
  font-weight: bold;
}

.section-success .btn-home {
  background-color: #FBCC34;
  border: none;
}

.section-success .btn-home:hover {
  background-color: #FFD857;
  -webkit-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.16);
}

@media (max-width: 767px) {
  .section-brand .brand-heading {
    margin-top: 10px !important;
  }
  .section-brand .benefit .sub-title {
    float: left;
    margin-top: -68px !important;
    margin-left: 90px !important;
    overflow: hidden;
  }
  .section-testimoni .testimoni-say {
    margin-left: 0px !important;
    top: 0;
    margin-top: -170px !important;
  }
  .section-testimoni .testimoni-say .card {
    width: 100%;
  }
  .section-product-information .detail-img .big-img {
    background-color: red;
    width: 100%;
    height: 350px;
  }
  .section-product-information .detail-img .xzoom-thumbs img {
    width: 85px;
  }
}
/*# sourceMappingURL=main.css.map */